
  <div class="top-profile">
    <div class="top-image">
      <%= image_tag banner_path(current_user), class: "p_banner" %>
      <%= image_tag avatar_path(current_user), class: "p_avatar" %>
    </div>
    <span class="username"><%= @user.username %></span>
    <br />
    <span>Account created at <%= @user.created_at %></span>
    <br />
    <span><%= @user.follow_count %> followings</span>
    <span><%= @user.followers_count %> followers</span>
  </div>
  <div class="feed" id="feed_section">
    <% @user.posts.each do |p| %>
      <a href="<%= post_path(p.id) %>">
        <div class="post">
          <div class="post-pp">
            <a href="<%= user_profile_path(p.user_id) %>">
              <%= image_tag avatar_path(current_user, size: 40), class: "feed-pp" %>
            </a>
          </div>
          <div class="post-content">
            <a href="<%= user_profile_path(p.user_id) %>">
              <%= current_user.username %>
            </a>
            <span>·</span>
            <a href="<%= post_path(p.id) %>">
              <time datetime="<%= p.created_at %>">
                <%=
                  if Time.now.day - p.created_at.day > 0
                    (Time.now.day - p.created_at.day > 3) ? p.created_at.strftime("%d %B") : (Time.now.day - p.created_at.day).to_s << 'd'
                  elsif Time.now.hour - p.created_at.hour > 0
                    (Time.now.hour - p.created_at.hour).to_s << 'h'
                  elsif Time.now.min - p.created_at.min > 0
                    (Time.now.min - p.created_at.min).to_s << 'm'
                  else
                    (Time.now.sec - p.created_at.sec).to_s << 's'
                  end %>
              </time>
            </a>
            <span>
            <%= p.post.body %>
          </span>
          </div>
        </div>
      </a>
      <br />
  <% end %>
  </div>
