<div class="post-write">
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :post %>
      <%= f.rich_text_area :post %>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  <% end %>
</div>
<br>
<div class="feed" id="feed_section">
  <% @myPost.each do |p| %>
    <% if p.instance_of? Post %>
      <a href="<%= post_path(p.id) %>">
      <div class="post">
        <div class="post-pp">
          <a href="<%= user_profile_path(p.user_id) %>">
            <%= image_tag avatar_path(current_user, size: 40), class: "feed-pp" %>
          </a>
        </div>
        <div class="post-content">
          <a href="<%= user_profile_path(p.user_id) %>">
            <%= current_user.username %>
          </a>
          <span>·</span>
          <a href="<%= post_path(p.id) %>">
            <time datetime="<%= p.created_at %>">
              <%=
                if Time.now.day - p.created_at.day > 0
                  (Time.now.day - p.created_at.day > 3) ? p.created_at.strftime("%d %B") : (Time.now.day - p.created_at.day).to_s << 'd'
                elsif Time.now.hour - p.created_at.hour > 0
                  (Time.now.hour - p.created_at.hour).to_s << 'h'
                elsif Time.now.min - p.created_at.min > 0
                  (Time.now.min - p.created_at.min).to_s << 'm'
                else
                  (Time.now.sec - p.created_at.sec).to_s << 's'
                end %>
            </time>
          </a>
          <span>
            <%= p.post.body %>
          </span>
        </div>
      </div>
      </a>
    <% elsif p.instance_of? Announcement%>
      <div class="announcement">
        <a href="<%= announcements_post_path(p.id) %>">
          <h1> <%= p.name %> </h1>
          <h5> <%=  p.description %></h5>
          <p>This is a Announcement !</p>
        </a>
      </div>
    <% end %>
    <br />
  <% end %>
</div>
<script>
    var channel = pusher.subscribe('posts-channel');
    channel.bind('new-post', function(data)  {
        console.log(data);
        // let post = data.caption;
        // let author = data.username;
        // let div = document.getElementById('feed_section');
        // let new_content = document.createElement("div");
        // new_content.className = "post";
        // new_content.innerHTML = "<p> Post from " + author + " : " + post + "<br />";
        // div.insertBefore(new_content, div.firstChild);
    });
</script>