@import 'bootstrap/scss/bootstrap';
@import "jumpstart/announcements";
@import 'actiontext.css';
@import 'settings.css';
@import 'profile.css';

.dark {
  background-color: #24282d;
  color: white;
}

.post-write {
  border: solid #24282d;
  background-color: #272c31;
  padding: 1% 1% 3% 1%;
  margin-top: -2.5%;
}

.post {
  border: solid #24282d;
  background-color: #272c31;
  padding: 1% 0 1% 1%;
  margin-top: -2.5%;
  transition: transform .1s;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #34393e;
    cursor: pointer;
    -ms-transform: scale(1.03) translate(10px);
    -webkit-transform: scale(1.03) translate(10px);
    transform: scale(1.03) translate(10px);
  }

  .post-pp {
    padding-right: 1%;
    .feed-pp {
      border-radius: 50%;
      padding-right: 0.5%;
    }
  }

  .post-content {
    line-height: 2;
    img {
      width: 30%;
      height: 30%;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.announcement {
  border: solid #24282d;
  background-color: #272c31;
  padding: 1% 0 0 1%;
  margin-top: -2.5%;
  line-height: 1;
  transition: transform .5s;

  &:hover {
    background-color: #34393e;
    cursor: pointer;
    -ms-transform: scale(1.1) translate(10px);
    -webkit-transform: scale(1.1) translate(10px);
    transform: scale(1.1) translate(10px);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  p {
    padding-top: 2%;
    text-align: center;
    color: #919191;

    &:hover {
      text-decoration: underline;
    }
  }
}
