.top-profile {
    margin-top: -2.2%;
    background-color: #212529;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.top-image {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 2%;
}

.top-image .p_avatar {
    position: absolute;
    border-radius: 50%;
    border: 5px solid #212529;
    top: 50%;
    left: 3%;
}

.top-image .p_banner {
    position: relative;
    border-radius: 1%;
    margin : 0 0 6% 0;
    width: 100%;
}

.top-profile .username {
    margin-left: 2%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,sans-serif;
    font-size: 34px;
}