.s_pictures {
    position: relative;
    left: 0;
    top: 0
}

.s_pictures .s_avatar {
    position: absolute;
    top: 20%;
    left: -75%;
    border-radius: 50%;
}

.s_pictures .s_banner {
    position: relative;
    left: -80%;
    border-radius: 1%;
    margin : 1% 0 5% 0;
}